<h1>Contáctame</h1>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">
          <div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="sandra-campos-galeas-52206858" data-version="v1">
            <a class="badge-base__link LI-simple-link" href="https://cl.linkedin.com/in/sandra-campos-galeas-52206858?trk=profile-badge"></a>
          </div>
        </p>
        <p class="card-text">
          <a href="https://github.com/Sandyluuu" target="_blank" class="icon-link">
            <i class="fab fa-github fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
