<h1> Mis Proyectos </h1>

<div class="card-group">
  <div class="card">
    <%= image_tag 'viajeschile.jpg', class:'imagen'%>
    <div class="card-body">
      <h5 class="card-title">Viajes Chile</h5>
      <p class="card-text">Prueba Final unidad HTML.</p>
      <a href="https://github.com/Sandyluuu/Prueba_ViajesChile" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'michis.png', class:'imagen' %>
    <div class="card-body">
      <h5 class="card-title">MichiLovers</h5>
      <p class="card-text">Actividad evaluada</p>
      <a href="https://github.com/Sandyluuu/Michis" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'Blockbuster.png', class:'imagen' %>
    <div class="card-body">
      <h5 class="card-title">Blockbuster</h5>
      <p class="card-text">Desafío Evaluado Bootcamp</p>
      <a href="https://github.com/Sandyluuu/Blockbuster/" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>
