<h1> Mis Proyectos </h1>

<div class="card-group">
  <div class="card">
    <%= image_tag 'viajeschile.jpg', class:'imagen'%>
    <div class="card-body">
      <h5 class="card-title">Viajes Chile</h5>
      <p class="card-text">Prueba Final unidad HTML.</p>
      <a href="https://github.com/Sandyluuu/Prueba_ViajesChile" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'meetcoffee.jpg', class:'imagen' %>
    <div class="card-body">
      <h5 class="card-title">Meet & Coffee</h5>
      <p class="card-text">Página creada para práctica en clases</p>
      <a href="https://github.com/Sandyluuu/meetandcoffee2" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'couppon.jpg', class:'imagen' %>
    <div class="card-body">
      <h5 class="card-title">Couppon</h5>
      <p class="card-text">Desafío Evaluado Bootcamp</p>
      <a href="https://github.com/Sandyluuu/Landing" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>
