
body{
    background: linear-gradient(to right, #dceff5, #6e9aa2); 
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
}

.quitar-formato {
    text-decoration: none;
    }
.card{
    margin: 10px;
}
    .btn{
    background-color: darkcyan !important;
    align-items: endgit;

    }
    .btn:hover {
        background-color: rgb(8, 65, 67) !important;
    }

    .imagen {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    .yop {
        height: 250px;
        width: 200px;
        object-fit: cover;
    }
 
    .card {
        background-color: rgb(28, 64, 52) !important;
        color: white;
        max-width: 1000px;
        align-items: center;
    }

    

  